*{
    text-decoration: none;
    text-align: center;
    background-color: black;
    color: blanchedalmond;
}
nav {
    justify-content: space-around;
    display: flex;
    align-items: center;
}
img{
    border-radius: 50%;
}
.reviews {
    justify-content: space-around;
    display: flex;
}
.review1 {
    flex: 1;
}
.review2 {
    flex: 1;
}
.reviews2{
    justify-content: space-around;
    display: flex;
}
.review3 {
    flex: 1;
}
.review4 {
    flex: 1;
}
