*{
    text-decoration: none;
    
}
nav {
    justify-content: space-around;
    display: flex;
    align-items: center;
}
li {
   list-style-type: none;
}
body{
    text-align: center;
}
h2{
    text-align: center;
}